

    html {
      margin: 0;
      width: 100%;
      height: 100%;

    }

     body {
      height: 100%;
      width: 100%;
      margin: 0;
 
     }

    /*header {
      margin: 0;
      height: 80px;
      width: 100%;
      z-index: 99;
      background-color: white;
      position: fixed;
      top:0;
    }*/


    /*style for div main area containing the background image*/
    #wrapper {
      /*height: calc(100%-150px);*/
      width: 100%;
      margin: 0;
      background-image: url("../images/Suzaku_Temple.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom;
      /*position: relative;*/
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 150px;
      
    }


    /*style for empty div containing the logo*/
    #logo {
      width: 30%;
      height: 20%;
      position: fixed;
      left: 37.5%;
      top: 60px;
      z-index: 99;
    }

    #instructions {

      height: 100px;
      width: 30%;
      border: 2px solid yellow;
      position: fixed;
      bottom: 450px;
      left: 5%;
      padding: 10px;
    }

    #instructionMsg {
      color: orangered;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
    }


    #newGameCol {
      text-align: center;
    }

    /*style for new game button*/
    #newGame {
      border-radius: 8px;
      color: white;
      background-color: orangered;
    }


      
    /*style for empty div containing the selectd player and enemy*/
    #fightArea {
      position: fixed;
      height: 200px;
      bottom: 180px;
      left: 0;
      right: 0;
      border: 2px solid red;
    }

    /*style for selected player area (left of the attack button*/
     #activePlayer {
        position: fixed;
        bottom: 180px;
        left: 35%;
        height: 200px;
        width: 100px;
        border: 2px solid;
        text-align: center;
        
    }

    /*style for selected enemy area (right of attack button) */
    #activeEnemy {
        position: fixed;
        bottom: 180px;
        right: 35%;
        height: 200px;
        width: 100px;
        border: 2px solid;
        text-align: center;

    }

    /*style for attack button*/
    #attack {
      position: fixed;
      bottom: 265px;
      left: 47.5%;
      background-color: grey;
      height: 65px
      width: 85px;
      font-size: large;
      color: white;
      visibility: hidden;
    }

   
    /*style for nav panel at bottom containing characters to be selected*/
    .availCharacters {
      background-image: url("../images/wood.jpg");
      /*text-align: center;*/
      width: 100%;
      height: 150px;
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .availcharcol {
      padding-left: 0;
      margin-left: 0;
    }


    #availChars {
      text-align: left;
    }

    /*style for div containing messaging box to player*/
    #message {
      padding-top: 10px;
    }

    /*style for message box to player*/
    #gameMessage {
      height: 130px;
      width: 300px;
      background-color: white;
      padding: 5px;
    }

    #playerStatus {
      text-align: left;
    }

    #enemyStatus {
      text-align: left;
    }


    


    /*.background {
      background-image: url();
      width: 100%;
      height: auto;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;      
     
    }*/



    

 /*   #availChars {
      display: inline-block;
    }

    .charButton {

      width: auto;
      height: 80%;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: white;
      background-position: center;

    }*/

    

 


/*
  .enemy img{
      -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}*/    

	